// AdLap 2021

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background-main;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $laptop) {
    width: 1200px;
    padding: 0;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.txt {
  @include font-main;
}

.title {
  @include font-title;
}