// AdLap 2021

$color-background-main: rgba(0, 0, 0, 1);
$color-txt-main: rgb(255, 255, 255);
$color-nav-background: rgb(0, 0, 0);
$color-nav-border: rgb(255, 255, 255,.2);
$color-burger-icon: rgb(255, 255, 255);
$color-menu-background: rgba(0,0,0,.4);
$color-menu-hover: rgba(255,255,255,.2);


$tablet: 750px;
$laptop: 1200px;


$light: 300;
$regular: 400;
$bold: 700;


@mixin font-main ($size, $weight) {
  font-family: 'Ubuntu', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5em;
  color: $color-txt-main;
}
