// AdLap 2021
@use "sass:color";

$color-background-main: rgba(24, 24, 24,1);
$color-txt-main: #c5c5c5;  //rgba(121, 121, 121,1);
$color-title: #020202;
$color-btn: color.scale($color-txt-main, $lightness: 10%);
$color-err: #ff3030;
$color-success: #7b932a;

$color-nav-background: #080808; //rgba(24, 24, 24,1);
$color-nav-border: #626262;
$color-burger-icon: rgba(121, 121, 121,1);
$color-menu-background: rgba(0,0,0,.4);
$color-menu-txt: #626262;
$color-menu-hover: #7b932a;

$color-title-h1: #748d1e;
$color-home-background: #111111;
$color-home-border: #748d1e;
$color-trailer-border: #919191;

$color-movie-background: #161616;
$color-movie-title: #748d1e;
$color-movie-border: #fcfcfc;

$color-shop-background: #505050;
$color-input-border: #0d0d0d;
$color-input-background: #656565;
$color-shop-btn: #020202;
$color-shop-btn-border: #919191;

$color-contact-background: color.scale($color-shop-background, $lightness: 10%);

$tablet: 750px;
$screen: 1000px;
$laptop: 1200px;
$height-bp: 670px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$margin-main: 1.875rem;
$padding-main: 1.875rem;

@mixin font-main {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: $regular;
  line-height: 1.5em;
  color: $color-txt-main;
}

@mixin font-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: $bold;
  line-height: 1.5em;
  color: $color-title;
  text-align: center;
}
