.section__contact {
  background-color: $color-contact-background;
  padding-bottom: 2rem;
}

.director {
  padding-top: 0;
}

.contact__data {
  text-align: center;

  &__phone,
  &__email {
    padding: 1rem;
  }
}
