.section__contact {
  background-color: $color-contact-background;
  padding-bottom: 2rem;

  h3 {
    padding-top: 0;
  }

  div {
    text-align: center;

    span {
      padding: 1rem;
    }
  }
}
