// AdLap 2021

.section__film {
  //height: calc(100vh - 30px);
}

.film__title {
  @include font-main(2rem, $bold);
  margin-top: 30px;
  text-align: center;
}

.film__description {
  @include font-main(1rem, $regular);
  text-align: left;
  margin-top: 30px;
}

.film__gallery {
  margin: 30px auto 30px auto;
  width: 90%;
  height: 450px;
  background-color: rgba(255,255,255,.5);
}
