footer {
  @include font-main;
  width: 100vw;
  height: 50px;
  background-color: $color-nav-background;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
padding: 0;
    }

    div {
      padding: 0;
    }
  }
}
