.footer {
  @include font-main;
   height: 50px;
  background-color: $color-nav-background;

  &__container {
     height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1em;
  }
  .creator {
    padding: .5em 0 .5em 0;
  }

  .autor {
    color: gold;
  }

  .portals {
    padding: .5em 0 .5em 0;
    color: $color-txt-main;
    line-height: 1em;
  }
}
