.footer {
  @include font-main;
  height: 50px;
  background-color: $color-nav-background;

  &__container {
    width: 88%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1em;
  }
  .creator {
    padding: 0;

    &__home {
      color: #ffeb80;

      &:hover {
        color: gold;
      }
    }
  }

  .portals {
    color: $color-txt-main;
    padding: 0;
    font-size: 1.3rem;

    &:hover {
      color: #5488ff;
    }
  }
}
