//AdLap 2021
@use 'sass:color';

.section__home {
  background-color: color.scale($color-background-main, $lightness: 5%);
  height: 100vh;
  min-height: 600px;

  @media (min-width: $tablet) {
    height: calc(100vh - 70px);
    min-height: 750px;
  }

  @media (min-width: $laptop) {
    min-height: 800px;
  }
}

.home__title {
  text-align: center;
  margin: 10px auto 20px auto;
  color: black;
}

.movie {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  max-width: 853px;
  margin: 0 auto 0 auto;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    @media (min-width: $screen) {
      width: 853px;
      height: 480px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.home__intro {
  width: 100%;

  @media (min-width: 854px) {
    width: 853px;
    margin: 0 auto 0 auto;
  }

  @media (min-width: $laptop) {
    margin: -100px auto 0 auto;

  }
}