//AdLap 2021

.section__home {
  height: 100vh;
  position: relative;

  @media (min-width: $tablet) {
    height: calc(100vh - 100px);
  }
}

.home__title {
  @include font_title(2rem, $bold);
  text-align: center;
  margin: 10px auto 20px auto;
  color: black;
}

.movie {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  //margin-bottom: 10%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (min-width: $laptop) {
      width: 1024px;
      height: 576px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.home__intro {
  @include font-main(1rem, $regular);
  margin-top: 30px;
  width: 100%;
  //position: absolute;
  //bottom: 0;

  @media (min-width: $tablet) {
    margin: 30px auto 0 auto;
    width: 1024px;
  }
}