// AdLap 2021

@use 'sass:color';

.section__movie {
  background-color: color.scale($color-background-main, $lightness: 10%);
  padding: $padding-main 0 60px 0;
}

.movie__title {
  text-align: center;
  color: #93b33d;
}

.movie__description {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__article {
    text-align: justify;
  }

  //&__img {
  //  width: 640px;
  //  height: 400px;
  //  background-image: url("../../images/3.jpg");
  //}
}

.movie__online {
  text-align: center;
  margin: $margin-main 0 $margin-main 0;
}

.movie__gallery {
  margin: 0 auto;
  padding: 30px 0 30px 0;
  width: 90%;
  height: 450px;
  background-color: rgba(255, 255, 255, .5);
  background-image: url("../images/1.jpg");
  background-size: 33%;
}

.movie__review {
  text-align: justify;
}