// AdLap 2021

.movie {
  background-color: $color-movie-background;
  padding: $padding-main 0 60px 0;
  border-bottom: 2px solid $color-movie-border;

  &__title {
    text-align: center;
    color: $color-title-h1;
  }

  &__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &__article {
      width: 100%;
      text-align: justify;

      @media screen and (min-width: $tablet) {
        width: 65%;
      }
    }

    &__img {
      display: none;

      @media screen and (min-width: $tablet) {
        display: block;
        width: 35%;
        height: 300px;
        background: url(../images/small_03.png) no-repeat center/contain;
      }
    }
  }

  &__online {
    text-align: center;
    margin: $margin-main 0 $margin-main 0;
  }

  &__gallery {
    margin: 0 auto;
    padding: 30px 0 30px 0;
    width: 100%;
    background-size: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__img {
      width: 159px;
      height: 93px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 3px;
      cursor: pointer;
      transition: 0.2s linear;

      &:hover {
        transform: scale(1.1);
      }

      @media screen and (min-width: $tablet) {
        width: 240px;
        height: 141px;
      }
    }
  }

  &__review {
    text-align: justify;

    h2,
    h3 {
      color: $color-title-h1;
    }

    &__art {
      &__img__first,
      &__img__last {
        width: 300px;
        height: 169px;
        margin: 0 auto;

        @media screen and (min-width: $screen) {
          width: 533px;
          height: 300px;
        }
      }

      &__img__first {
        background: url("../images/small_23.png") no-repeat center/contain;

        @media screen and (min-width: $tablet) {
          float: right;
          margin: 20px auto auto 20px;
        }
      }

      &__img__last {     
        background: url("../images/small_15.png") no-repeat center/contain;

        @media screen and (min-width: $tablet) {
          float: left;
          margin-right: 20px;
        }
      }
    }
    
    &__author {
      text-align: right;
      text-indent: 0;
      font-weight: 700;
      color: $color-movie-title;

      &__desc {
        color: $color-txt-main;
        font-weight: 400;
        font-style: italic;
      }

      &__link {
        color: $color-txt-main;
        font-weight: 400;
        font-style: italic;
        text-decoration: underline;

        &:hover {
          color: $color-movie-title;
        }
      }
    }
  }
}