// AdLap 2021

.section__movie {
  background-color: $color-movie-background;
  padding: $padding-main 0 60px 0;
  border-bottom: 2px solid $color-movie-border;
}

.movie__title {
  text-align: center;
  color: $color-title-h1;
}

.movie__description {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__article {
    text-align: justify;
  }
}

.movie__online {
  text-align: center;
  margin: $margin-main 0 $margin-main 0;
}

.movie__gallery {
  margin: 0 auto;
  padding: 30px 0 30px 0;
  width: 100%;
  background-size: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie__gallery__img {
  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      background-image: url("../images/#{$i}.jpg");
    }
  }

  width: 340px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    transform: scale(1.1);
  }

  &:nth-of-type(1) {
    background-size: 95%;
    background-position: center;
    background-color: $color-movie-background;
    border: 1px solid $color-nav-border;
  }

  &:nth-of-type(5) {
    box-shadow: 0 0 10px $color-nav-border;
  }

  &:nth-of-type(3) {
    border: 1px solid $color-nav-border;
  }

  &:nth-of-type(6) {
    background-size: 95%;
    background-position: center;
    background-color: $color-movie-background;
    box-shadow: 0 0 10px $color-nav-border;
  }
}

.movie__review {
  text-align: justify;

  h2,
  h3 {
    color: $color-title-h1;
  }
}

