//AdLap 2021

@use 'sass:color';

.section__shop {
  background-color: color.scale($color-background-main, $lightness: 15%);
  padding-bottom: 2rem;
}

.shop__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.shop__title {
  padding: $padding-main;
  text-align: center;
}

.form__container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form__box {
  padding: 1rem;
}

.form__label {
  padding: .5rem;
}

.form__input {
  @include font-main;
  border: 2px solid $color-input-border;
  //border-right: none;
  //border-top: none;
  //border-left: none;
  background-color: $color-input-background;
  width: 300px;
}

.form__check {
  padding: 1rem;
}

.form__btn {
  padding: 10px 30px;
  border: none;
}

.shop__img {
  width: 45%;
  height:300px;
  background-color: rgba(255,255,255,.5);
  color: black;
  background-image: url('../../images/2.jpg');
  background-size: cover;
}