//AdLap 2021

.shop__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.shop__title {
  @include font-title(2rem, $bold);
  margin-top: 30px;
  text-align: center;
}

.form__container {
  @include font-main(1rem, $regular);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form__box {
  padding: 1rem;
}

.form__label {
  padding: .5rem;
}

.form__input {
  @include font-main(1rem, $regular);
  border: 2px solid $color-input-border;
  //border-right: none;
  //border-top: none;
  //border-left: none;
  background-color: $color-input-background;
  width: 300px;
}

.form__check {
  padding: 1rem;
}

.form__btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 30px;
  align-self: center;
}

.shop__img {
  width: 45%;
  height:300px;
  background-color: rgba(255,255,255,.5);
  color: black;
}