//AdLap 2021

@use 'sass:color';

.section__shop {
  background-color: $color-shop-background;
  padding-bottom: 2rem;
}

.shop__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shop__title {
  padding: $padding-main;
  text-align: center;
}

.form__container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form__label {
  padding: 0.5rem;
}

.form__input {
  @include font-main;
  border: 1px solid $color-input-border;
  background-color: $color-input-background;
  width: 200px;
}

.form__check {
  position: relative;
}

.form__check__input {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 7px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.form__checkbox__fake {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-top: 1rem;
  overflow: visible;
  font-size: 1.5rem;
  color: $color-txt-main;

  svg {
    position: absolute;
    bottom: 8px;
  }
}

.check__label {
  margin-left: 20px;
  line-height: 100%;
}

.form__btn {
  @include font-main;
  border-radius: 0;
  background-color: $color-shop-btn;
  padding: 10px 30px;
  border: 1px solid $color-shop-btn-border;
  align-self: flex-start;
  margin-top: 1rem;
  cursor: pointer;
}

.form__msg__err {
  width: 375px;
  color: $color-err;
}

.form__msg__success {
  width: 200px;
  color: $color-success;
}

.shop__img {
  width: 300px;
  height: 400px;
  margin-top: 69px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  background-image: url("../images/cover.png");
  background-size: cover;
  align-self: flex-start;
}
